@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*, ::before, ::after{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
.container{
     display: flex;
}
.content-card{
     min-width: 30%;
     height: 100vh;
     position: relative;
     background: linear-gradient(130deg, rgb(45, 0, 45) 35%, rgb(95, 1, 158),  rgb(45, 0, 45));
}
.content-card img:nth-child(1){
     position: absolute;
     top: 18%;
     left: 35%;
     border-radius: 8px;
     box-shadow: 5px 5px 15px rgba(45, 0, 45, 0.3);
}
.content-card img:nth-child(2) {
     position: absolute;
     top: 50%;
     left: 55%;
     border-radius: 8px;
     box-shadow: 5px 5px 15px rgba(45, 0, 45, 0.3);
}
.number-card-one, .number-card-two{
     font-family: 'Open Sans', sans-serif;
     font-size: 20px;
     color: #f1f1f1;
}
.card-number{
     position: absolute;
     top: 29%;
     right: -5%;
}
.card-name{
     position: absolute;
     top: 39%;
     left: 40%;
     font-size: 17px;
}
.card-date{
     position: absolute;
     top: 39%;
     right: -5%;
     font-size: 15px;
}
.card-crypto-num{
     position: absolute;
     top: 61%;
     right: -20%;
}
.content-info{
     min-width: 50%;
     height: 100vh;
     padding: 200px 20px 20px 300px;
}
form{
     display: flex;
     flex-direction: column;
     font-family: 'Aboreto', cursive;
     font-weight: 600;
}
form label{
     text-transform: uppercase;
     margin-bottom: 3px;
}
form input{
     padding: 8px;
     border: 1px solid rgba(0, 0, 0, 0.2);
     border-radius: 5px;
}
form input:focus-within{
     outline: 1px solid rgba(0, 0, 0, 0.4);
}
form input::placeholder{
     color: rgba(0, 0, 0, 0.4);
}
.card-info{
     display: flex;
     flex-direction: row;
}
.month, .year{
     width: 40%;
}
.date{
     padding-top: 3px;
}
.crypto{
     display: flex;
     flex-direction: column;
}
form button{
     padding: 8px;
     margin-top: 15px;
     border: none;
     border-radius: 8px;
     font-family: 'Aboreto', cursive;
     font-weight: 800;
     font-size: 18px;
     background: rgb(45, 0, 45);
     color: #f1f1f1;
     cursor: pointer;
     transition: background-color 0.2s ease-out;
}
form button:hover{
     background: rgba(45, 0, 45, 0.9);
}
span{
     font-family: 'Raleway', sans-serif;
     font-size: 12px;
     margin-bottom: 10px;
     color: crimson;
}
.form-info{
     margin-top: 30px;
     text-align: center;
}
form input.active{
     border: 1px solid crimson;
}

form.active{
     animation: wrong 0.3s ease-out;
}
@keyframes wrong{
     0%{
          transform: translateX(5px);
     }
     50%{
          transform: translateX(-5px);
     }
     100%{
          transform: translateX(5px);
     }
}
@media screen and (max-width: 1205px) {
     .card-number{
          right: -33%;
     }
     .card-date{
          right: -33%;
     }
     .card-crypto-num{
          right: -40%;
     }
}
@media screen and (max-width: 950px) {
     .content-card img:nth-child(1){
          top: 25%;
          left: 20%;
     }
     .content-card img:nth-child(2) {
          left: 40%;
     }
     .card-number{
          top: 33%;
          right: -37%;
     }
     .card-name{
          top: 44%;
          left: 30%;
     }
     .card-date{
          top: 44%;
          right: -37%;
     }
     .card-crypto-num{
          right: -50%;
     }
}
@media screen and (max-width: 920px) {
     .container{
          display: flex;
          flex-direction: column;
          width: 100vw;
          overflow-x: hidden;
     }
     .content-card{
          height: 30vh;
     }
     .content-card img:nth-child(1){
          z-index: 100;
     }
     .card-number{
          z-index: 150;
          top: 55%;
          left: 30%;
     }
     .card-name{
          z-index: 150;
          top: 95%;
          left: 22%;
     }
     .card-date{
          z-index: 150;
          top: 95%;
          left: 52%;
     }
     .card-crypto-num{
          z-index: 150;
          top: 86%;
          left: 71%;
     }
     .content-info{
          height: 60vh;
          padding: 150px 100px;
     }
}
@media screen and (max-width : 770px) {
     .card-number{
          left: 35%;
     }
     .card-name{
          left: 22%;
     }
     .card-date{
          left: 60%;
     }
     .card-crypto-num{
          left: 78%;
     }
}
@media screen and (max-width : 660px) {
     .card-number{
          left: 35%;
     }
     .card-name{
          left: 22%;
     }
     .card-date{
          left: 59%;
     }
     .card-crypto-num{
          left: 67%;
          display: none;
     }
}
@media screen and (max-width: 620px) {
     .content-card img:nth-child(1){
          left: 10%;
     }
     .content-card img:nth-child(2) {
          left: 20%;
     }
}
@media screen and (max-width: 520px) {
     .card-info{
          display: flex;
          flex-direction: column;
     }
     .crypto{
          margin-top: 10px;
     }
     button{
          margin-bottom: 15px;
     }
}
@media screen and (max-width: 450px) {
     .content-card img:nth-child(1){
          left: 3%;
     }
     .content-card img:nth-child(2) {
          left: 10%;
     }
}